<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roberto.puntodeventafte" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Venta"
            android:label="@string/title_activity_venta" >
        </activity>
        <activity
            android:name=".AgregarCliente"
            android:label="@string/title_activity_agregar_cliente" >
        </activity>
        <activity
            android:name=".ClienteNuevo"
            android:label="@string/title_activity_cliente_nuevo" >
        </activity>
        <activity
            android:name=".DatosCliente"
            android:label="@string/title_activity_datos_cliente" >
        </activity>
    </application>

</manifest>
